/*机具管理平台 手机端样式*/

/*登陆大背景*/
.Mobile-login-bg {
    position: absolute;
    z-index: -99;
    width: 100%;
    height: 100%;
}

/*登陆页logo*/
.Mobile-logo {
    width: 38%;
    margin-left: 31%;
    margin-top: 50px;
    margin-bottom: 30px;
}

/*登陆页输入框*/
.Mobile-login-input {
    width: 80%;
    margin-left: 10%;
    background: #fff;
    height: 42px;
    margin-top: 20px;
    border-radius: 28px;
}

/*登陆页输入框 图标*/
.Mobile-login-input .ons-icon {
    position: absolute;
    margin-left: 18px;
    margin-top: 8px;
    font-size: 26px;
    color: #888;
}

/*登录页输入框宽度调整*/
.Mobile-login-input ons-input {
    width: calc(100% - 50px);
    margin-left: 46px;
    border-bottom: 0;
}

.Mobile-login-input .text-input {
    font-size: 13px;
    margin-top: 6px;
 }

/*登录页安卓下的样式调整*/
.Mobile-login-input .text-input--material {
    background-image: none;
    margin-top: 10px;
}
.Mobile-login-input .text-input--material__label--active {
    color: #dd3623;
}

.Mobile-login-input .text-input--material__label {
    font-size: 13px;
    margin-top: 11px;
}

/*登录按钮*/
.button--Mobile-login-btn {
    width: 66%;
    height: 42px;
    margin-left: 17%;
    background: #dd3623;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-top: 56px;
    border-radius: 28px;
    text-align: center;
}

/*登录界面错误弹出按钮*/
.button--Mobile-error-btn {
    background: none;
    color: #dd3623;
    font-size: 14px;
    border: 1px solid #dd3623;
    border-radius: 8px;
    width: 100px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 30px;
}


/* Main 界面 */
.toolbar {
    background: linear-gradient(to right,#fe7291,#f3451e);
}
.bottom-bar, .toolbar__center, .toolbar__title,
.toolbar-button {
    color: #fff;
}

/* 侧边栏 */
.sidebar-bg .page__background {
    background: #2c3b4e;
}

.sidebar-bg .list {
    background: none;
}

.sidebar-bg .list .list-item {
    padding-left: 0;
}

.sidebar-bg .list-item__center {
    color: #fff;
    font-size: 14px;
    border-bottom: 1px solid #47425b;
}
.sidebar-bg .list:nth-child(1) .list-item {
    margin-top: 40px;
}

.sidebar-bg .list-item__center .ons-icon {
    font-size: 24px;
    margin-right: 14px;
    margin-left: 14px;
}

.sidebar-bg .yellow {
    color: #ffcc00;
}

.sidebar-bg .red {
    color: #f33a55;
}











