/*机具管理平台 手机端样式*/

.list {
    background-image: none;
}

/* 安卓下空标题居中 */
.toolbar--material__left:empty, .toolbar--material__right:empty {
    min-width: 72px;
}

.button--material {
    box-shadow: none;
}

.marginB {
    margin-bottom: 20px;
}
/*登陆大背景*/
.Mobile-login-bg {
    position: absolute;
    z-index: -99;
    width: 100%;
    height: 100%;
}

/*登陆页logo*/
.Mobile-logo {
    width: 38%;
    margin-left: 31%;
    margin-top: 50px;
    margin-bottom: 30px;
}

/*登陆页输入框*/
.Mobile-login-input {
    width: 80%;
    margin-left: 10%;
    background: #fff;
    height: 42px;
    margin-top: 20px;
    border-radius: 28px;
}

/*登陆页输入框 图标*/
.Mobile-login-input .ons-icon {
    position: absolute;
    margin-left: 18px;
    margin-top: 8px;
    font-size: 26px;
    color: #888;
}

/*登录页输入框宽度调整*/
.Mobile-login-input ons-input {
    width: calc(100% - 50px);
    margin-left: 46px;
    border-bottom: 0;
}

.Mobile-login-input .text-input {
    font-size: 13px;
    margin-top: 6px;
 }

/*登录页安卓下的样式调整*/
.Mobile-login-input .text-input--material {
    background-image: none;
    margin-top: 10px;
}
.Mobile-login-input .text-input--material__label--active {
    color: #dd3623;
}

.Mobile-login-input .text-input--material__label {
    font-size: 13px;
    margin-top: 11px;
}

/*登录按钮*/
.button--Mobile-login-btn {
    width: 66%;
    height: 42px;
    margin-left: 17%;
    background: #dd3623;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-top: 56px;
    border-radius: 28px;
    text-align: center;
}

/*登录界面错误弹出按钮*/
.button--Mobile-error-btn {
    background: none;
    color: #dd3623;
    font-size: 14px;
    border: 1px solid #dd3623;
    border-radius: 8px;
    width: 100px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 30px;
}


/* Main 界面 */

/* 安卓下样式优化 */
.toolbar--material {
    box-shadow: none;
}
.toolbar--material__center {
    text-align: center;
}
.back-button__icon {
    fill: #fff !important;
}

/* head 样式 */
.toolbar {
    background: linear-gradient(to right,#fe7291,#f3451e);
}
.bottom-bar, .toolbar__center, .toolbar__title,
.toolbar-button {
    color: #fff;
}

/* 侧边栏 */
.sidebar-bg .page__background {
    background: #2c3b4e;
}

.sidebar-bg .list {
    background: none;
}

.sidebar-bg .list .list-item {
    padding-left: 0;
}

.sidebar-bg .list-item__center {
    color: #fff;
    font-size: 14px;
    border-bottom: 1px solid #47425b;
}

.sidebar-bg .list:nth-child(1) .list-item {
    margin-top: 44px;
}

.sidebar-bg .list-item__center .ons-icon {
    font-size: 24px;
    margin-right: 14px;
    margin-left: 14px;
}

.sidebar-bg .yellow {
    color: #ffcc00;
}

.sidebar-bg .red {
    color: #f33a55;
}


/* 派发复合管理页面 */
.list-header--search-list {
    padding-left: 0;
    padding-top: 10px;
    background-image: none;
    background: #f9edd4;
    padding-right: 0;
}

.list-header--search-list .list-item {
    margin-top: 12px;
}

.list-header--search-list .list-item >label {
    font-size: 14px;
    font-weight: 400;
    width: 96px;
    text-align: right;
    margin-top: 16px;
    color: #dd3623;
}

.list-header--short .list-item >label {
    width: 100px !important;
}

.list-header--search-list .list-item > ons-input {
    width: calc(100% - 168px);
    margin-left: 10px;
    color: #dd3623;
}

.list-header--search-list .date > ons-input {
    width: calc(100% - 244px);
}

.list-header--search-list .list-item > ons-input .text-input {
    font-size: 14px;
    color: #dd3623;
}

.list-header--search-list .text-input--underbar {
    border-bottom: 1px solid #dd3623;
}

.list-header--search-list .text-input--material {
    background-image: none;
}

.button--search-btn {
    width: 90%;
    margin-left: 5%;
    background: #dd3623;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    padding: 0;
    height: 34px;
}


/* 起止日期 */
.date {
    padding-left: 0 !important;
    padding-right: 14px;
}

/*工单处理按钮*/
.button--operation-btn {
    color: #fc6e51;
}

/*统一回执按钮*/
.button--receipt-btn {
    color: #24cd70;
}

.button--operation-btn, .button--receipt-btn {
    font-size: 14px;
}

/* 界面低端 分页样式 */
.bottom-bar {
    padding: 10px 14px;
}

.bottom-bar .button {
    float: right;
    background: none;
    color: #24cd70;
    font-size: 14px;
    padding: 0;
}
.button--mid-btn {
    min-width: 64px;
    text-align: center;
}

.button--end-btn {
    padding: 0 10px !important;
    color: #fc6e51 !important;
}

.button--neighbor-btn {
    color: #666 !important;
}



/* 终端详情界面 */
.list--details .list-item {
    padding-top: 6px;
    font-size: 14px;
}

.details-state {
    color: #fc6e51;
}



/* 终端审核界面 */
/* head */
.list-header--audit {
    padding: 12px 0 0 0;
    background-image: none;
    background: #f9edd4;
}

.list-header--audit .list-item .list-item__center {
    padding: 0;
    background-image: none;
    min-height: 26px;
    color: #dd3623;
    font-weight: 400;
}

/* 详细列表 */
.list--audit-li {
    background: #f9f9f9;
    margin: 12px 0;
    padding-top: 12px;
    padding-bottom: 6px;
}

.list--audit-li .list-item .list-item__center {
    padding-top: 0;
    padding-bottom: 0;
    background-image: none;
    min-height: 26px;
}


.dropzone {
    float: left;
    width: 100%;
    border: none;
    background: #f9f9f9;
    margin-bottom: 12px;
}

.dz-preview.dz-complete.dz-image-preview {
    float: left;
    width: 46%;
    border-radius: 8px;
    box-shadow: 2px 2px 8px #eee;
}

.dropzone .dz-preview {
    margin: calc(6% - 14px) !important;
}


/* 审核意见 */
.list-item--gray-content {
    background: #f9f9f9;
    margin-bottom: 80px;
    font-size: 14px;
}

.list-item--gray-content .list-item__center {
    background-image: none;
}
/*两个按钮组/求购详情界面按钮组*/

.btns-group {
    position: fixed;
    z-index: 369;
    bottom: 0;
    width: 100%;
    padding: 8px 0;
    background: #fff;
    border-top: 1px solid #ccc;
}

.btns-group .button {
    width: 45.5%;
    text-align: center;
    margin-left: 3%;
    font-size: 15px;
    border-radius: 24px;
}



/*两个按钮的按钮组*/
.btns-group .button:nth-child(1) {
    background: rgba(255, 193, 42, 0.9);
}
.btns-group .button:nth-child(2) {
    background: rgba(255, 113, 118, 0.9);
}




/* 回执界面样式 */

.list-header--receipt-audit {
    padding: 12px 0 4px 0;
    background-image: none;
    background: #f9edd4;
}

.list-header--receipt-audit .list-item .list-item__center {
    padding: 0;
    background-image: none;
    min-height: 26px;
    color: #dd3623;
    font-weight: 400;
    font-size: 14px;
}

.list-header--receipt-audit .list-item .list-item__center > ons-input,
.list-header--receipt-audit .list-item .list-item__center > ons-input .text-input,
.list-header--receipt-audit .list-item .list-item__center >select {
    color: #dd3623;
    font-size: 14px;
}

.list-header--receipt-audit .list-item .list-item__center > ons-input,
.list-header--receipt-audit .list-item .list-item__center >select {
    margin-left: 12px;
}

.list-header--receipt-audit .list-item .list-item__center .text-input--material {
    background-image: none;
}


.list-item--audit-head .list-item__center .text-input {
    font-weight: 600;
    color: #ffcc00;
    margin-top: -8px !important;
    border: 1px solid #ffcc00;
    height: 24px;
    border-radius: 4px;
    text-indent: .6em;
}
.list-item--audit-head .list-item__center .text-input--material {
    background-image: none;
}

/* 回执图片 */
.receipt-picture {
    display: block;
    font-size: 13px;
    color: #888;
    margin: 8px 0 4px 14px;
}


.dropzone .dz-preview .dz-remove {
    position: absolute;
    color: red;
    top: 5px;
    right: 6px;
    font-size: 12px;
    text-decoration: none;
    z-index: 99;
}
/* 添加图片 */
.add {
    padding-bottom: 80px;
}

.add-images {
    width: 100%;
    text-align: center;
}

.add-images .button {
    position: relative;
    top: -70px;
    width: 136px;
    font-size: 16px;
    border-radius: 26px;
    background: rgba(243, 106, 101, 0.55);
}


.receipt-submit {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 42px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    background: rgba(221, 54, 35, 0.9);
    border-radius: 0;
}







